dt.chatpanel {
    margin-right: 1em;
    padding: 0.25em 0.5em;
	z-index: 9999; /*--Keeps the panel on top of all other elements--*/
	background: #e3e2e2;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	position: fixed;
	bottom: 0; right: 0;
    font-size: 80%;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
}

a#toggle-online-users:after {
    content: " ▲";
    display: inline-block;
}

div#form-widgets-conversation {
    overflow-y: scroll;
    height: 300px;
    padding: 1em 0 1em 1em;
	border :1px solid #ccc;
}

div.no-contacts-message {
    padding-top:1em;
    padding-left:1em;
}

dd.online-contacts {
    padding: 0 !important;
}

dd.online-contacts-max {
    padding: 0 !important;
    height: 18em;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.chatportlet-online-contact {
    padding:0.7em;
}

div.filter-contacts-message{
	font-size: 10px;
}

.chat-head {
	color: #ffffff;
    margin: 0;
    margin-bottom: 0.5em;
	font-size: 100%;
}

.chat-head-chatbox {
	background-color: #578308;
	padding:7px;
	color: #ffffff;
}

.chat-head-chatroom {
	background-color: #2D617A;
	padding:7px;
	color: #ffffff;
}

.chat-head-minimized-with-messages {
    background-color: #5C0803;
}

.chat-blink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chat-content {
	font-size: 13px;
	color: #333333;
	height:200px;
	overflow-y:auto;
	overflow-x:auto;
	border:1px solid #999;
    border-bottom: 0px;
	background-color: #ffffff;
	line-height: 1.3em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
}

.chat-message-them {
    nowrap;
}

.chat-textarea {
	padding:3px;
	border: 0;
	overflow:hidden;
}

.chat-textarea-chatbox-selected {
	border: 1px solid #578308;
	margin:0;
}

.chat-textarea-chatroom-selected {
	border: 2px solid #2D617A;
	margin:0;
}

.chat-message {
	margin-left: 0.5em;
}

.chat-info {
	color:#666666;

}

.chat-message-from {
	font-weight: bold;
}

.chat-message-me {
	font-weight: bold;
    color: #436976;
}

.chat-message-them {
	font-weight: bold;
    color: #F62817;
}

.chat-message-error {
    color:#76797C;
    font-size:90%;
    font-weight:normal;
}

.chat-options {
	float: right;
}

.chat-options a {
	text-decoration: none;
	color: white;
	font-weight:bold;
    padding-right: 1em;
}

div.chat-title {
	float: left;
	font-weight: bold;
}

div.chat-title a {
    color: white;
}

div#online-users-container {
    right: 15px;
}

.activated{
    display: block !important;
}

.oc-chat-head {
    margin-bottom: 0;
}

.oc-chat-content ul {
    margin: 0px;
    padding: 0px;
}

.oc-chat-content #online-users li.odd {
    background-color: #DCEAC5; /* Make this difference */
}

.oc-chat-content #online-users li:hover {
	background: url(/++resource++collective.xmpp.chat.images/user_online_panel.png) no-repeat 3px center;
}

.oc-chat-content #online-users li {
	background: url(/++resource++collective.xmpp.chat.images/user_online_panel.png) no-repeat 3px center;
}

.oc-chat-content #online-users li.offline:hover {
	background: url(/++resource++collective.xmpp.chat.images/user_offline_panel.png) no-repeat 3px center;
}

.oc-chat-content #online-users li.offline {
	background: url(/++resource++collective.xmpp.chat.images/user_offline_panel.png) no-repeat 3px center;
}

.oc-chat-content #online-users li.busy:hover {
	background: url(/++resource++collective.xmpp.chat.images/user_busy_panel.png) no-repeat 3px center;
}

.oc-chat-content #online-users li.busy {
	background: url(/++resource++collective.xmpp.chat.images/user_busy_panel.png) no-repeat 3px center;
}

.oc-chat-content #online-users li.away:hover {
	background: url(/++resource++collective.xmpp.chat.images/user_away_panel.png) no-repeat 3px center;
}

.oc-chat-content #online-users li.away {
	background: url(/++resource++collective.xmpp.chat.images/user_away_panel.png) no-repeat 3px center;
}

.oc-chat-content #online-users li a {
    margin-left: 2em;
}

#online-users li > a::before {
    content: none;
    background: #999;
}

.oc-chat-content #online-users li {
    border: 1px solid #DCEAC5;
}

#online-users {
    width: 100%;
    border: none;
    margin: 0;
    position: relative;
    top: 0;
    display: block;
}

#online-users li > a.expanded {
    color: #205C90;
    background: #CCC;
    font-weight: normal;
}

#online-users li > a.expanded + div.user-details-form {
    display: none;
}

#online-users li > a:after {
    content: none;
    width: 0;
    height: 0;
    top: 0;
    margin: 0;
    border: 0;
}

form.sendXMPPMessage {
    margin: 0;
}

.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 200px;
	display:none;
    bottom: 1.3em; 
    z-index: 3; /* So that it's higher than the content actions */
}

.cr-chat-head {
	background: #0F3A4F;
    width: 213px;
}

.oc-chat-content, .cr-chat-content {
	height:279px !important;
    width: 100%;
    padding: 0px;
}

.oc-chat-content dl, .cr-chat-content dl {
    margin: 0px;
    padding: 0px;
}

.oc-chat-content dd, .cr-chat-content dd {
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 1em;
}

.oc-chat-content dd.odd {
    background-color: #DCEAC5;
}

.oc-chat-content {
    background-color: #f9f9f9;
}

.cr-chat-content dd.odd {
    background-color: #E2EEF4; 
}

.cr-chat-content {
    background-color: #EFF6FA;
}

/* Styling for the chat panel bottom feeder */
#footpanel a.chat {
	background: url(++resource++collective.xmpp.chat.images/comment_user_32.png) no-repeat 3px center;
	width: 135px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	text-indent: 0; 
    /*--Reset text indent since there will be a combination of both text and image--*/
}

#footpanel a.chatrooms {
	background: url(++resource++collective.xmpp.chat.images/comment_32.png) no-repeat 3px center;
}

form.set-xmpp-status {
    margin: 0.5em 0 0.5em 0.5em;
}

select#select-xmpp-status {
    float: right;
    margin-right: 0.5em;
}

/* root element for tabs  */
ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    height:30px;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    background: url(++resource++collective.xmpp.chat.images/blue.png) no-repeat -420px 0;
    font-size:13px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
    background-position: -420px -31px;
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: -420px -62px;
    cursor:default !important;
    color:#000 !important;
    font-weight: bold;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */
/* width 1 */
ul.tabs a.s { background-position: -553px 0; width:81px; }
ul.tabs a.s:hover { background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l { background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover { background-position: -248px -31px; }
ul.tabs a.l.current { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl { background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover { background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }

.panes div {
    border: 1px solid #999;
    height: 100px;
    font-size: 14px;
    background-color: white;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
}

form.sendXMPPMessage {
    background: white;
    border: 1px solid #999;
    padding:0.5em;
    margin: 0;
    position: relative;
    -webkit-border-top-right-radius: 0em;
    -webkit-border-top-left-radius: 0em;
}
