#chatpanel {
	z-index: 9999; /*--Keeps the panel on top of all other elements--*/
	position: fixed;
	bottom: 0; right: 0;
    height: 331px;
    width: auto;
}

#toggle-controlbox {
	position: fixed;
    font-size: 80%;
	bottom: 0; 
    right: 0;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
	background: #e3e2e2;
	border: 1px solid #c3c3c3;
	border-bottom: none;
    padding: 0.25em 0.5em;
    margin-right: 1em;
    height: 1.1em;
}

div#form-widgets-conversation {
    overflow-y: scroll;
    height: 300px;
    padding: 1em 0 1em 1em;
	border :1px solid #ccc;
}

div.no-contacts-message {
    padding-top:1em;
    padding-left:1em;
}

dd.online-contacts {
    padding: 0 !important;
}

dd.online-contacts-max {
    padding: 0 !important;
    height: 18em;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.chatportlet-online-contact {
    padding:0.7em;
}

div.filter-contacts-message{
	font-size: 10px;
}

.chat-head {
	color: #ffffff;
    margin: 0;
	font-size: 100%;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
	padding: 3px 0 3px 7px;
}

.chat-head-chatbox {
	background-color: #4B7003;
}

.chat-head-chatroom {
	background-color: #2D617A;
}

5chatroom .room-name {
    font-size: 150%;
    font-weight: bold;
}

.chatroom .room-topic {
    font-style: italic;
}

.chatroom .chat-area {
    float: left;
    width: 200px;
}

.chatroom .chat {
    overflow: auto;
    height: 400px;
    border: solid 1px #ccc;
}

.chatroom .participants {
    float: left;
    width: 99px;
    height: 271px;
    background-color: white;
    overflow: auto;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.participants ul.participant-list li {
    padding: 0.5em 0 0 0.5em;
    display: block;
}

.chatroom form.sendXMPPMessage {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.chatroom .participant-list {
    list-style: none;
}

input.new-chatroom-name {
    width: 10em;
}

.chat-blink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chat-content {
    padding: 0.3em;
	font-size: 13px;
	color: #333333;
	height:194px;
	overflow-y:auto;
	overflow-x:auto;
	border:1px solid #999;
    border-bottom: 0;
    border-top: 0;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chat-textarea {
	padding:3px;
	border: 0;
	overflow:hidden;
    height: 48px;
}

.chat-textarea-chatbox-selected {
	border: 1px solid #578308;
	margin:0;
}

.chat-textarea-chatroom-selected {
	border: 2px solid #2D617A;
	margin:0;
}

.chat-info {
	color:#666666;

}

.chat-message-me {
	font-weight: bold;
    color: #436976;
}

.chat-message-them {
    nowrap;
	font-weight: bold;
    color: #F62817;
}

.chat-event {
    color: #808080;
}

div#settings, 
div#chatrooms {
    height: 279px;
}

p.not-implemented {
    margin-top: 3em;
    margin-left: 0.3em;
    color: #808080;
}

div.delayed .chat-message-them { 
    color: #FB5D50;
}

div.delayed .chat-message-me { 
    color: #7EABBB;
}

.chat-message-error {
    color:#76797C;
    font-size:90%;
    font-weight:normal;
}

div.chat-title {
	float: left;
	font-weight: bold;
}

p.user-custom-message,
p.chatroom-topic {
    font-size: 80%;
    font-style: italic;
    clear: left;
    height: 1.1em;
}

.activated{
    display: block !important;
}

a.subscribe-to-user {
    padding-left: 2em;
    background: url('/add_icon.png') no-repeat 3px top;
    font-weight: bold;
}

div.add-xmpp-contact {
    border:1px solid #ddd; 
    padding: 3px 3px 3px 25px;
    margin: 0 0.5em;
    background: url('/add_icon.png') no-repeat 5px 3px;
    font-weight: bold;
}

ul#found-users {
    padding-top: 0.5em;
}

form.search-xmpp-contact {
    border:1px solid #ddd; 
    margin: 0 0.5em;
    padding: 1em 0.3em 1em 0.3em;
}

form.search-xmpp-contact input {
    width: 9em;
}

.oc-chat-head {
    margin: 0;
	color: #FFF;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    height: 31px;
    width: 201px;
    clear right;
    background-color: #5390C8;
	padding: 3px 0 0 0;
}

.chatbox-button,
.oc-chat-head .close-controlbox-button {
    float: right;
    margin-top: 0.2em;
    margin-right: 0.5em;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #888;
    display:inline-block;
    color: #666 !important;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:0px 4px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

.chatbox-button:hover,
.oc-chat-head .close-controlbox-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
    background-color:#f6f6f6;
}

.chatbox-button:active,
.oc-chat-head .close-controlbox-button:active {
    position:relative;
    top:1px;
}

.oc-chat-content dt {
    margin: 0px;
    padding-top: 0.5em;
}

#xmppchat-roster dd.odd {
    background-color: #DCEAC5; /* Make this difference */
}

#xmppchat-roster dd.current-xmpp-contact,
#xmppchat-roster dd.current-xmpp-contact:hover {
	background: url(/++resource++collective.xmpp.chat.images/user_online_panel.png) no-repeat 5px top;
}

#xmppchat-roster dd.current-xmpp-contact.offline:hover,
#xmppchat-roster dd.current-xmpp-contact.unavailable:hover,
#xmppchat-roster dd.current-xmpp-contact.offline,
#xmppchat-roster dd.current-xmpp-contact.unavailable {
	background: url(/++resource++collective.xmpp.chat.images/user_offline_panel.png) no-repeat 5px top;
}

#xmppchat-roster dd.current-xmpp-contact.busy,
#xmppchat-roster dd.current-xmpp-contact.busy:hover {
	background: url(/++resource++collective.xmpp.chat.images/user_busy_panel.png) no-repeat 5px top;
}

#xmppchat-roster dd.current-xmpp-contact.away,
#xmppchat-roster dd.current-xmpp-contact.away:hover {
	background: url(/++resource++collective.xmpp.chat.images/user_away_panel.png) no-repeat 5px top;
}

#xmppchat-roster dd.requesting-xmpp-contact button{
    margin-left: 0.5em;
}

#xmppchat-roster dd a {
    margin-left: 2em;
}

.remove-xmpp-contact-dialog .ui-dialog-buttonpane {
    border: none;
}

#xmppchat-roster {
    width: 100%;
    margin: 0;
    position: relative;
    top: 0;
    border: none;
    padding-top: 0.5em;
}

#available-chatrooms dt,
#xmppchat-roster dt {
    display: none;
    font-size: 13px;
    color: #666;
    border: none;
    padding: 0.3em 0.5em 0 0.5em;
}

#available-chatrooms dt {
    padding-top: 1em;
}

#available-chatrooms li {
    display: block;
}


dd.chatroom,
#xmppchat-roster dd {
    font-weight: bold;
    border: none;
    display: block;
    padding: 0.3em 0.5em 0 0.5em;
}

a.remove-xmpp-contact {
    background: url('/delete_icon.png') no-repeat right top;
    padding: 0.5em 1em 1em 0;
    float: right;
}

div.chatbox {
	display:none;
    float: right;
	width: 200px;
    z-index: 3; /* So that it's higher than the content actions */
    height: 311px;
    margin-right: 15px;
}

div.chatroom {
	display:none;
    float: right;
	width: 300px;
    z-index: 3; /* So that it's higher than the content actions */
    height: 311px;
    margin-right: 15px;
}

.oc-chat-content {
	height:276px !important;
    width: 199px;
    padding: 0px;
}

.oc-chat-content dl {
    margin: 0px;
    padding: 0px;
}

.oc-chat-content dd {
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 1em;
}

.oc-chat-content dd.odd {
    background-color: #DCEAC5;
}

.oc-chat-content {
    background-color: #f9f9f9;
}

form.set-xmpp-status,
form.add-chatroom {
    padding: 0.5em 0 0.3em 0.5em;
}

select#select-xmpp-status {
    float: right;
    margin-right: 0.5em;
}

/* root element for tabs  */
ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    height:30px;
    float: left;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    font-size:12px;
    display:block;
    height: 30px;
    line-height:30px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin:0;
    position:relative;
}

ul.tabs li a {
    border: 1px solid #999;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    color:#666;
    background-color:#EEE;
}

ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    cursor:default !important;
    color:#000 !important;
    font-weight: bold;
    background-color: #FFF;
    border-bottom: 0;
    height: 31px;
}

.panes div#users,
.panes div#chatrooms,
.panes div#settings {
    border: 1px solid #999;
    font-size: 14px;
    background-color: white;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    width: 199px;
}

form.sendXMPPMessage {
    background: white;
    border: 1px solid #999;
    padding:0.5em;
    margin: 0;
    position: relative;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* status dropdown styles */       
dl.dropdown {
    margin-right: 0.5em;
}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }

.dropdown dt a {
    padding:3px 3px 3px 25px; 
}

.dropdown dt a {
    display:block; 
    border:1px solid #ddd; 
}
.dropdown dt a span {
    cursor:pointer; display:block; padding:5px;
}

.dropdown dd ul { 
    list-style:none; 
    padding:5px 0px; 
    position:absolute; 
    left:0px; top:2px; 
    border:1px solid #ddd; 
    width: 99%;
    background: #FFF;
    z-index: 99;
}

.dropdown dd ul li a:hover { 
    background-color: #bed6e5;
}

.dropdown span.value { 
    display:none;
}

.dropdown dd ul li a { 
    padding:5px 5px 5px 30px; 
    display:block;
}

.dropdown a.online { 
	background: url(/++resource++collective.xmpp.chat.images/user_online_panel.png) no-repeat left top;
}

.dropdown a.offline { 
	background: url(/++resource++collective.xmpp.chat.images/user_offline_panel.png) no-repeat left top;
}

.dropdown a.busy { 
	background: url(/++resource++collective.xmpp.chat.images/user_busy_panel.png) no-repeat left top;
}

.dropdown a.away { 
	background: url(/++resource++collective.xmpp.chat.images/user_away_panel.png) no-repeat left top;
}

