*.bak
*.egg-info
*.mo
*.pt.py
*.pyc
*.swp
*~
/.installed.cfg
/.mr.developer.cfg
/bin
/build
/develop-eggs
/dist
/downloads
/eggs
/etc
/include
/lib
/parts
/src/collective.loremipsum/
/src/collective.xmpp.collaboration/
/src/collective.xmpp.core/
/src/collective.xmpp.debug/
/src/collective.xmpp.pubsub/
/src/ejabberd-modules/
/src/osha.oira.egg-info
/src/plone.act/
/src/rod.recipe.ejabberd/
/src/wokkel/
/var
Paste*
