exclude *~
exclude *.sw?
include *.rst
include *.txt
include *.py
recursive-include src *.css
recursive-include src *.png
recursive-include src *.gif
recursive-include src *.po
recursive-include src *.pot
recursive-include src *.pt
recursive-include src *.js
recursive-include src *.json
recursive-include src/collective/xmpp/chat *.zcml
graft docs
prune docs/.build
graft src/collective/xmpp/chat/profiles
graft src/collective/xmpp/chat/browser/css
graft src/collective/xmpp/chat/browser/javascript
