include *.rst
recursive-include src/collective/xmpp/chat *.zcml
recursive-include src/collective/xmpp/chat/locales *.mo
recursive-include src/collective/xmpp/chat/locales *.po
graft docs
prune docs/.build
graft src/collective/xmpp/chat/profiles
graft src/collective/xmpp/chat/browser/resources/
